/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.2
1.6
1.8
- Letter spacing
-0.5px
0.75px
-- 02 COLORS

-Primary : #41c6ab
-Tints :  #061411
-Shades : #ecf9f7 ##c6eee6
-Accents : 
-Greys :  #555 #333 #6f6f6f #767676

-- 03 IMAGES
linear-gradient(to right, #277767, #54ccb3)
-- 04 ICONS

-- 05 SHADOWS 
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER-RADIUS
Default: 9px 11px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Lexend", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}

.text--center {
  text-align: center;
}

/* ******************************* */
/* Buttons */
/* ******************************* */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  color: #061411;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #41c6ab;
}
.btn--full:hover {
  background-color: #349e89;
  transform: translateY(-5px);
}
.btn--full:active {
  background-color: #54ccb3;
  transform: translateY(5px);
}

.btn--outline:link,
.btn--outline:visited {
  color: #ecf9f7;
  border: 1px solid #ecf9f7;
}

.btn--outline:hover {
  border: 1px solid #349e89;
  color: #349e89;
  transform: translateY(-5px);
  box-shadow: inset 0 0 0 1px #349e89;
}
.btn--outline:active {
  border: 1px solid #54ccb3;
  color: #54ccb3;
  transform: translateY(5px);
  box-shadow: inset 0 0 0 1px #54ccb3;
}
