/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.2
1.6
1.8
- Letter spacing
-0.5px
0.75px
-- 02 COLORS

-Primary : #41c6ab
-Tints :  #061411
-Shades : #ecf9f7 ##c6eee6
-Accents : 
-Greys :  #555 #333 #6f6f6f #767676

-- 03 IMAGES
linear-gradient(to right, #277767, #54ccb3)
-- 04 ICONS

-- 05 SHADOWS 
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER-RADIUS
Default: 9px 11px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/
:root {
  --primary-color-1: #9cfe4f;
  --primary-color-1-light: #b0fe72;
  --primary-color-1-dark: #7dcb3f;
  --primary-color-2: #8474ff;
  --primary-color-2-light: #a99eff;
  --primary-color-2-dark: #5c51b3;
  --haading-color: #1a1a1a;
  --primary-black-color: #0e0f11;
  --white-color: #ffffff;
  --white-color-2: rgba(255, 255, 255, 0.9);
  --white-color-3: rgba(255, 255, 255, 0.8);
  --text-color: #9e9fa0;
  --border-color: #313131;
  --grey-dark: #18191b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  /* for scroll bar */
  scrollbar-width: thin; /* auto | thin | none */
  scrollbar-color: var(--primary-color-1) var(--primary-black-color);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
  color: var(--text-color);
  font-weight: 400;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  column-gap: 3.2rem;
  row-gap: 4.8rem;
}
/* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 */
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

/* ******************************* */
/* Buttons */
/* ******************************* */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  color: #061411;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-color-1);
}
.btn--full:hover {
  background-color: var(--primary-color-1-light);
  transform: translateY(-5px);
}
.btn--full:active {
  transform: translateY(5px);
}

.btn--outline:link,
.btn--outline:visited {
  color: var(--white-color-2);
  border: 1px solid var(--white-color-2);
}

.btn--outline:hover {
  border: 1px solid var(--primary-color-1);
  color: var(--primary-color-1);
  transform: translateY(-5px);
  box-shadow: inset 0 0 0 1px var(--primary-color-1);
}
.btn--outline:active {
  border: 1px solid var(--primary-color-1-dark);
  color: var(--primary-color-1-dark);
  transform: translateY(5px);
  box-shadow: inset 0 0 0 1px var(--primary-color-1-dark);
}

/* background settings */
.obj-fit {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}

/* Animated Background Style */
.animated-background {
  overflow: hidden;
  background: var(--primary-black-color);
  position: relative;
}
.animated-background::after,
.animated-background::before {
  content: "";
  display: block;
  position: absolute;
  padding: 35rem;
  border-radius: 50%;
  filter: blur(140px);
}
.animated-background::after {
  background-color: #9cfe50;
  top: -35rem;
  left: -35rem;
}
.animated-background::before {
  background-color: var(--primary-color-2);
  bottom: -15rem;
  right: -35rem;
}
