/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.2
1.6
1.8
- Letter spacing
-0.5px
0.75px
-- 02 COLORS

-Primary : #41c6ab
-Tints :  #061411
-Shades : #ecf9f7 ##c6eee6
-Accents : 
-Greys :  #555 #333 #6f6f6f #767676

-- 03 IMAGES
-- 04 ICONS

-- 05 SHADOWS 
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER-RADIUS
Default: 9px 11px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Lexend", sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}

/* ************************************* */
/* Header Section */
/* ************************************* */
.header {
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  width: 100%;
  height: 9.6rem;
  border-bottom: 1px solid rgba(236, 249, 247, 0.05);
}
.logo {
  height: 4.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #ecf9f7;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.main-nav-link:hover {
  color: #8dddcd;
}
.main-nav-link:active {
  color: #41c6ab;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.6rem 3.2rem;
  background-color: #41c6ab;
  color: #061411;
  border-radius: 0.9rem;
}
.nav-cta:hover {
  background-color: #67d1bc;
}
.nav-cta:active {
  background-color: #2e8b78;
}
/* ************************************* */
/* Hero Section */
/* ************************************* */
.section-hero {
  display: flex;
  flex-direction: column;
  background: #06020d;
  /* min-height: 80rem; */
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.section-hero::after {
  content: "";
  display: block;
  background-color: rgba(84, 204, 180, 0.5);
  position: absolute;
  padding: 25rem;
  top: -20rem;
  left: -12rem;
  border-radius: 50%;
  filter: blur(140px);
}
.section-hero::before {
  content: "";
  display: block;
  background-color: rgba(84, 204, 180, 0.5);
  position: absolute;
  padding: 25rem;
  bottom: -12rem;
  right: -12rem;
  border-radius: 50%;
  filter: blur(140px);
}
.hero {
  display: flex;
  flex-direction: column;
  padding: 17.6rem 4.8rem 12.8rem 4.8rem;
  max-width: 110rem;
  align-items: center;
}

.tag {
  font-size: 1.4rem;
  background-color: #06020d;
  border: 1px solid #41c6ab;
  padding: 1rem 2.2rem;
  border-radius: 0.9rem;
  letter-spacing: -0.08rem;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ecf9f7;
  margin-bottom: 3.2rem;
}
.heading-primary {
  font-family: "Jost", sans-serif;
  font-size: 7.4rem;
  /* line-height: 0.9; */
  line-height: 1.05;
  font-weight: 600;
  color: #ecf9f7;
  text-align: center;
  margin-bottom: 3.2rem;
}
.highlight-text {
  display: block;
  color: #41c6ab;
}

.hero-description {
  font-size: 1.8rem;
  color: #c4ede5;
  line-height: 1.8;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4.8rem;
}
.hero-btns {
  display: flex;
  gap: 3.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
  color: #061411;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  /* background-image: linear-gradient(to right, #277767, #54ccb3); */
  background-color: #41c6ab;
}
.btn--full:hover {
  /* background-image: linear-gradient(to right, #54ccb3, #277767); */
  background-color: #349e89;
  transform: translateY(-5px);
}
.btn--full:active {
  background-color: #54ccb3;
  transform: translateY(5px);
}

.btn--outline:link,
.btn--outline:visited {
  color: #ecf9f7;
  border: 1px solid #ecf9f7;
}

.btn--outline:hover {
  border: 1px solid #349e89;
  color: #349e89;
  transform: translateY(-5px);
  box-shadow: inset 0 0 0 1px #349e89;
}
.btn--outline:active {
  border: 1px solid #54ccb3;
  color: #54ccb3;
  transform: translateY(5px);
  box-shadow: inset 0 0 0 1px #54ccb3;
}
