/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.2
1.6
1.8
- Letter spacing
-0.5px
0.75px
-- 02 COLORS

-Primary : #41c6ab
-Tints :  #061411
-Shades : #ecf9f7 ##c6eee6
-Accents : 
-Greys :  #555 #333 #6f6f6f #767676

-- 03 IMAGES
-- 04 ICONS

-- 05 SHADOWS 
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER-RADIUS
Default: 9px 11px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/

/* ************************************* */
/* Header Section */
/* ************************************* */
.header {
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  width: 100%;
  height: 9.6rem;
  border-bottom: 1px solid rgba(236, 249, 247, 0.05);
}
.logo {
  height: 4.2rem;
}

/* Nav */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #ecf9f7;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.main-nav-link:hover {
  color: #8dddcd;
}
.main-nav-link:active {
  color: #41c6ab;
}

/* ************************************* */
/* Hero Section */
/* ************************************* */
.section-hero {
  display: flex;
  flex-direction: column;
  background: #06020d;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.section-hero::after,
.section-hero::before {
  content: "";
  display: block;
  background-color: rgba(84, 204, 180, 0.5);
  position: absolute;
  padding: 25rem;
  border-radius: 50%;
  filter: blur(140px);
}
.section-hero::after {
  top: -20rem;
  left: -12rem;
}
.section-hero::before {
  bottom: -12rem;
  right: -12rem;
}
.hero {
  display: flex;
  flex-direction: column;
  padding: 17.6rem 4.8rem 12.8rem 4.8rem;
  max-width: 110rem;
  align-items: center;
}
.hero--description {
  text-align: center;
}
.hero-btns {
  display: flex;
  gap: 3.2rem;
}
