/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.2
1.6
1.8
- Letter spacing
-0.5px
0.75px
-- 02 COLORS

-Primary : #41c6ab
-Tints :  #061411 #349e89 #133b33
-Shades : #ecf9f7 ##c6eee6
-Accents : 
-Greys :  #555 #333 #6f6f6f #767676

-- 03 IMAGES
-- 04 ICONS

-- 05 SHADOWS 
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER-RADIUS
Default: 9px 11px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/

/* ************************************* */
/* Header Section */
/* ************************************* */
.header {
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 4.8rem;
  width: 100%;
  height: 9.6rem;
  border-bottom: 1px solid rgba(236, 249, 247, 0.05);
}
.logo {
  height: 4.2rem;
}

/* Nav */
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}
.main-nav-link:link,
.main-nav-link:visited {
  color: #ecf9f7;
  text-decoration: none;
  font-size: 1.8rem;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s;
}
.main-nav-link:hover {
  color: #8dddcd;
}
.main-nav-link:active {
  color: #41c6ab;
}

/* Mobile Navigation */
.btn-mobile-nav {
  display: none;
  background-color: transparent;
  border: none;
}
.menu,
.close {
  font-size: 3.6rem;
  color: #ecf9f7;
}
.menu,
.nav-open .close {
  display: block;
}
.close,
.nav-open .menu {
  display: none;
}

/* ************************************* */
/* Hero Section */
/* ************************************* */
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 17.6rem 4.8rem 9.6rem 4.8rem;
  max-width: 110rem;
  align-items: center;
}
.hero--description {
  text-align: center;
}
.hero-btns {
  display: flex;
  gap: 3.2rem;
}

.logos-container {
  display: flex;
  padding: 0 3.6rem;
  max-width: 130rem;
  width: 90%;
  margin: 0 auto 9.6rem auto;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}
.logos {
  display: flex;
  animation: spin 10s infinite linear;
}
.brands-logo {
  height: 4rem;
  flex: 0 0 3.6rem;
  filter: brightness(0) invert(1);
  opacity: 35%;
  align-items: center;
  margin-left: 12.6rem;
}
@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-135rem);
  }
}

/* ************************************* */
/* About us Section */
/* ************************************* */
.section-about-us {
  padding: 9.6rem 0;
}
.about-img-container {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 9px;
}
.about-us-img {
  height: 100%;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  background-image: url("../img/about.jpg");
  /* background-color: #06020d; */
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.about-us-img:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.achievement {
  display: flex;
  gap: 4.8rem;
}

.ach-data {
  font-size: 1.4rem;
  color: rgba(19, 59, 51, 0.7);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.ach-data span {
  display: block;
  font-family: "Jost", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  color: #133b33;
  padding-bottom: 0.8rem;
}

/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 /  */
