/* 
-- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default : 400
Medium : 500
Semi-Bold : 600
Bold : 700

- Line heights
Default : 1 
1.05
1.2
1.6
1.8
- Letter spacing
-0.5px
0.75px
-- 02 COLORS

-Primary : #41c6ab
-Tints :  #061411
-Shades : #ecf9f7 ##c6eee6
-Accents : 
-Greys :  #555 #333 #6f6f6f #767676

-- 03 IMAGES
-- 04 ICONS

-- 05 SHADOWS 
0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

-- 06 BORDER-RADIUS
Default: 9px 11px

-- 07 WHITESPACE
- SPACING SYSTEM (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

-- 
*/
/* ************************************* */
/* Text contents */
/* ************************************* */
.tag {
  display: inline-block;
  font-size: 1.6rem;
  border: 2px solid #41c6ab;
  padding: 1rem 2.2rem;
  border-radius: 0.9rem;
  letter-spacing: 0.05rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.tag--dark {
  color: #349e89;
  border: 2px solid #349e89;
}
.tag--light {
  color: #ecf9f7;
}

.heading-primary,
.heading-secondary {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.heading-primary {
  font-size: 9.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 800;
}

.heading-secondary {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 700;
}
.tertiary-heading {
  font-family: "Lexend", sans-serif;
  color: #c4ede5;
  font-size: 2.4rem;
  font-weight: 600;
}
.text-dark {
  color: #0d2822;
}
.text-light {
  color: #ecf9f7;
}
/* Hero text effect */
.highlight-text {
  display: flex;
  flex-direction: column;
  color: #41c6ab;
  overflow-y: hidden;
  height: 10rem;
  gap: 3.2rem;
  margin-top: 1.6rem;
}

.text {
  display: block;
  animation: role-text 9s infinite ease-in-out 1s;
  animation-fill-mode: forwards;
  transform: translateY(-10%);
}
.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
/* animation */
@keyframes role-text {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  2% {
    transform: translateY(-10%);
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  31% {
    transform: translateY(-140%);
    opacity: 1;
  }
  35% {
    transform: translateY(-140%);
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  65% {
    transform: translateY(-270%);
    opacity: 1;
  }
  69% {
    transform: translateY(-270%);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  87% {
    opacity: 0;
  }
  98% {
    transform: translateY(-416%);
    opacity: 1;
  }
  100% {
    transform: translateY(-416%);
    opacity: 1;
  }
}

.hero--description,
.paragraph {
  line-height: 1.8;
  margin-bottom: 6.4rem;
  letter-spacing: 0.5px;
}
.hero--description {
  font-size: 2rem;
  text-align: center;
}
.paragraph {
  font-size: 1.8rem;
}
.paragraph--light {
  font-weight: 400;
  color: #c4ede5;
  opacity: 60%;
}
.paragraph--dark {
  font-weight: 400;
  color: #495057;
}
